/* Small Desktop */
@media (min-width: 1200px){
  /* About */
  .about-content {
    padding: 5rem 5rem;
  }

  /* Contact */
  .form-horizontal {
    padding: 0 2rem 2rem 2rem;
  }
}

/* Tablet */
@media screen and (max-width: 1200px){
  .tagline {
    background-image: url('../assets/img/tagline-v.svg');
  }

  /* About Page */
  .about-content {
    padding: 5rem 5rem;
  }

  /* Projects Page */
  #carousel-wrapper {
    #menu {
      #previous-option {
        transform: translate(-50px, 250px) rotate(90deg);
      }

      #next-option {
        transform: translate(50px, 250px) rotate(-90deg);
      }
    }
  }

  @keyframes previous-top-arrow {
    50% {
      transform: translate(-53px, 250px) rotate(90deg);
    }
  }
  
  @keyframes previous-bottom-arrow {
    50% {
      transform: translate(47px, 250px) rotate(-90deg);
    }
  }
  
  @keyframes next-top-arrow {
    50% {
      transform: translate(-47px, 250px) rotate(90deg);
    }
  }
  
  @keyframes next-bottom-arrow {
    50% {
      transform: translate(53px, 250px) rotate(-90deg);
    }
  }

  /* Contact */
  .form-horizontal {
    padding: 0 2rem 2rem 2rem;
  }
}

/* Phone */
@media screen and (max-width: 900px) {    
  p {
    font-size: 18pt;
  }
  
  /* About Page */
  .about-content {
    padding: 5rem 2rem;
  }

  /* Projects Page */
  #carousel-wrapper {
    height: 640px;
  
    #menu {
      height: 500px;
      width: 575px;
  
      #current-option {
        height: 100px;
        transform: translate(0, 130px);
  
        #current-option-text1 {
          height: 10px;
  
          &::before {
            content: attr(data-next-text);
            position: absolute;
            transform: translate(0%, 380px);
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
  
          &::after {
            content: attr(data-previous-text);
            position: absolute;
            transform: translate(0%, -380px);
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }
        }
  
        #current-option-text2 {
          font-family:'Darker Grotesque', sans-serif;
          color:var(--tertiary);
          font-size: 1.5rem;
          font-weight: 100;
          width: 250px;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
  
          &::before {
            content: attr(data-next-text);
            position: absolute;
            transform: translate(0%, 380px);
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
          }
  
          &::after {
            content: attr(data-previous-text);
            position: absolute;
            transform: translate(0%, -380px);
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
          }
        }
      }
      #previous-option {
        transform: translate(-50px, 200px) rotate(90deg);
      }

      #next-option {
        transform: translate(50px, 200px) rotate(-90deg);
      }
    }
  
    #image {
      height: 300px;
      width: 300px;
      transform: translate(0, -70px);
    }
  
    &.anim-previous {
      pointer-events: none;
  
      #current-option-text1 {
        animation: previous-text 0.65s 0.085s;
      }
  
      #current-option-text2 {
        animation: previous-text 0.65s 0.085s;
      }
      
      #image {
        animation: previous-image 0.65s 0.085s;
      }
    }
  }
  
  @keyframes previous-text {
    50%,
    55% {
      transform: translate(0%, 390px);
    }
    to {
      transform: translate(0%, 380px);
    }
  }
  
  @keyframes previous-image {
    0% {
      transform: translate(0, -70px) scale(1);
      opacity: 1;
    }
    70% {
      transform: translate(0, -70px) scale(1.1);
      opacity: 0;
    }
    100% {
      transform: translate(0, -70px) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes next-text {
    50%,
    55% {
      transform: translate(0%, -390px);
    }
    to {
      transform: translate(0%, -380px);
    }
  }
  
  @keyframes next-image {
    0% {
      transform: translate(0, -70px) scale(1);
      opacity: 1;
    }
    70% {
      transform: translate(0, -70px) scale(1.1);
      opacity: 0;
    }
    100% {
      transform: translate(0, -70px) scale(1);
      opacity: 1;
    }
  }

  @keyframes previous-top-arrow {
    50% {
      transform: translate(-53px, 200px) rotate(90deg);
    }
  }
  
  @keyframes previous-bottom-arrow {
    50% {
      transform: translate(47px, 200px) rotate(-90deg);
    }
  }
  
  @keyframes next-top-arrow {
    50% {
      transform: translate(-47px, 200px) rotate(90deg);
    }
  }
  
  @keyframes next-bottom-arrow {
    50% {
      transform: translate(53px, 200px) rotate(-90deg);
    }
  }

  /* Contact */
  .contact-wrapper {
    padding: 10%;
  }

  .form-horizontal {
    padding: 0 0 2rem 0;
  }

  .contact-btn {
    padding: 0;
  }

  .social-media-list li {
    margin: 10px 5px;
  }
}